# Fichiers générés
__pycache__/
*.pyc
*.pyo
*.pyd

# fichiers de configuration ou d'environnement
.env
*.env

# Environnement virtuel
venv/

# fichiers de sauvegarde d'éditeurs
*.swp
*.swo
*~

# fichiers JSON de données
taches.json

# Fichiers système
.DS_Store